*, ::after, ::before {
    box-sizing: border-box;
}

/* WRAP */
.wrap {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    background-color: #000;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 250px;
    padding: 1rem .8rem;
}
.sidebar hr {
    border-color: rgba(255,255,255, .2);
}
.sidebar .logo {
    margin: 0;
    line-height: 0;
}
.sidebar .logo img {
    max-width: 100%;
}
.sidebar .nav.navbar {
    margin-top: 1rem;
    list-style: none;
}
.sidebar .nav.navbar .nav-item .nav-link {
    color: #fff;
    font-family: "Quicksand-Regular";
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
    display: block;
}
.sidebar .nav.navbar .nav-item .nav-link.active,
.sidebar .nav.navbar .nav-item .nav-link:hover {
    background-color: rgba(255,255,255, .2);
    transition: background-color 300ms;
}

/* MAIN */
.main {
    background-color: #fdfdfd;
    width: calc(100% - 250px);
}
.main .navbar {
    background-color: #fff;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, .1);
}
.main .content {
    padding: 1rem;
}
.main .content .breadcumbs {
    margin-bottom: 1rem;
}
.main .content .breadcumbs .title {
    font-family: "Quicksand-SemiBold";
    font-size: 1.6rem;
}